#container {
	border-top: 20px solid #fc3;
	padding: 2% 10%;
	letter-spacing: 1px;
}
ul {
	list-style: none;
}
img {
	width: 50%;
}
a {
	color: #036;
	padding: 0 1px;
}
h1 {
	color: #666;
	font-size: large;
}
h2 {
	font-size: x-large;
}
h3 {
	color: #666;
	font-size: medium;
}
p {
	font-size: small;
	line-height: 2;
}
#menu {
	border-bottom: 1px dotted #666;
	font-size: small;
	text-align: right;
}
#menu ul li, #footer ul li {
	display: inline;
}
.meta {
	border-bottom: 1px dotted #666;
	color: #660;
	font-size: small;
	text-align: right;
}
